
.userblack{
    padding-right: 5px;
}
.example{
    color:#818A91;
}

.serial{
    font-size: 20px;
    padding-left: 6px;
}

.serial1 span{
padding-left: 47px;
}

.fav,.point {
    span{
    padding-left: 31px;}
}

.success,.code {
    span{
    padding-left: 15px;
    }
}

.remind{
    font-size: 14px;
}

.membertitle3{
    padding-bottom: 40px;
}

.check{
    font-size: 16px;
}
.form-control{
    border-color:lightgrey;
    border-width: 1px;
    outline:0;
}
