.price{
    padding-top: 32px;

}
.order .options{
    width: 350px;
}
.order {

    .btn{
        font-size: 16px;
        width: 500px;
    
    }
}
.details{
    font-size:16px;
}

.bodyproduct{
    margin-right:5%;
}