.footerContent  {
  color: purple;
  font-size: 100px;
}

.footer{
background-color: pink;

}

.footerImage{
background-size:cover;
      background: url(https://i.ibb.co/k2h2YJG/index2.png);
      background-repeat: no-repeat;
     margin-top:60px;
     height: 600px;
     background-position: center;
     max-height: 600px;
     padding-top: 312px;
     width: 100%;


   .remind{
    color: #8D8D8D;
  }
  
   p{
    color:  #8D8D8D;
    font-weight: bolder;
    font-size:32px;
   }
  }

 
   .submit{
  
     width: 350px;
    padding-top: 20px;
   
  }
  .copyright{
    font-size: 16px;
  }