.footer{
    height: 80px;
    img{
        padding-left: 200px;
    }
   .collapse{
      padding-left: 200px;
  }
 
}

.index2{
    background-position:fixed;
      background: url(https://i.imgur.com/KTiZ1q9.png);
      background-repeat: no-repeat;
     margin-top:60px;
   height: 600px;

   .remind{
    color: #8D8D8D;
  }
   .subscribe{
  
     padding-left: 200px;
     padding-top: 312px;
     
   }
   .h2{
    color:  #8D8D8D;
   }
  }
   .submit{
  
     width: 350px;
    padding-top: 20px;
   
  }