.header{
    height: 56px;
    
    .shopcart{
        padding-left: 120px;
    }
    
    .choose ul li a:hover{
        color:white;
    }
    .h1{
        float: left;
    }

    .logo a{
        background-image: url(image/logo@2.png);
        display: block;
     width: 128px;
     height: 38px;
text-indent: 101%;
white-space: nowrap;
overflow: hidden;
    }
}

.navbar-toggler{
    border:0;
}



  @media (max-width: 767px) {
    .navbar-collapse
      {
          background-color:#707070;
          ul li{
              text-align: center;
            
        } 
      
    }

  }

  