.header {
    height: 56px;
    background-color: ;

    .shopcart {
        padding-left: 120px;
    }




}



.navbar-toggler {
    border: 0;
}


.header {
    position: relative;
    z-index: 1
}

.banner {
    position: relative;
    z-index: 0;
    margin: 10px auto;
    height: 300px;
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #707070;

        ul li {
            text-align: center;

        }

    }

}