.header{
    height: 70px;
    
    .shopcart{
        padding-left: 130px;
    }
}


.navbar-toggler{
    border:0;
}


  .navbar-collapse{
   
    ul{text-align: center;
        border: white;
            }
      li{
          color: white;
      }      
  }

  @media (max-width: 767px) {
    .navbar-collapse
      {
          background-color:#707070;
          .ham{
            color: white;
          }
          
      }
  }