$white:#ffff;


.index{
  background-size: cover;
    background: url(https://serving.photos.photobox.com/6323099572c33671aa58b7ea8982f4147d1370d5a6b92cb21b9afe176ee9939f6ed339a1.jpg) fixed no-repeat;
    background-position: center;
   height: 920px;
   padding-top:295px;
 color:$white;

 
 .h1 p{
   font-size: 300px;
 }

}
.shopnow{
    margin-top: 16px;
    height: 60px;
    color:$white;
    padding-top: 12px;
    width: 350px;
}

.more{
  font-size:16px;
  padding-top: 16px;

}
.content1 .content2 .content3,.title{
font-size: 32px;
}

.content4{
  
  .item{
    font-size:50px;
  }
  .info{
    font-size: 16px;
  }

  .plan{
    border-width: 2px;
    border-color: black;
   width: 350px;
    margin-top: 60px;
  }
  .title{
    font-size:24px;
    font-weight: bold;

  }
}

 .card-title{
   font-size:24px;
   font-weight: bold;
 }
 


.sold{
  position: relative;
  
 p{
    position: absolute;
    font-size:20px;
   bottom: 45%;
   left:40%;
   color: $white;

  }
}


  .info{
    font-size: 16px;
  }



