$white:#ffff;


.index{
  background-size: cover;
    background: url(https://i.ibb.co/n7y6sdh/index.png) fixed no-repeat;
    background-position: center;
   height: 870px;
   padding-top:295px;
 color:$white;

 
 .h1 p{
   font-size: 300px;
 }

}
.shopnow{
    margin-top: 16px;
    height: 60px;
    color:$white;
    padding-top: 12px;
    width: 350px;
}

.more{
  font-size:16px;
  padding-top: 16px;

}


.content4{
  padding-top: 92px;

  .plan{
    border-width: 2px;
    border-color: black;
   width: 350px;
    margin-top: 60px;
  }
 
}

 


.sold{
  position: relative;
  
 p{
    position: absolute;
    font-size:20px;
   bottom: 45%;
   left:40%;
   color: $white;

  }
}


  .info{
    font-size: 16px;
  }



